<a href="https://colab.research.google.com/github/RussellePituc/CPE009A-OOP/blob/main/demo_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
print(bool("Hello"))
print(bool(False))

True
False

In [5]:
print(bool("Hello"))
print(bool(15))

True
True

In [6]:
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))
print(bool([]))
print(bool({}))

False
False
False
False
False
False
False

In [7]:
print(bool(True))
print(bool(False))

True
False

Functions can return a boolean

In [9]:
def myFunction():
  return True
print(myFunction())

True

In [11]:
def myFunction():
  return True
if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

In [12]:
print(10>9)
a=6
b=7
print(a==b)
print(a!=a)

True
False
False

Python Operations

In [15]:
print(10+5)
print(10-5)
print(10*5)
print(10/5)
print(10%5)
print(10//3)
print(10**2)

15
5
50
2.0
0
3
100

Python Bitwise Operators

In [22]:
 a = 60
 b = 13
 print(a&b)
 print(a|b)
 print(a^b)
 a<<1

12
61
49

120

Python Assignment Operators

In [23]:
x=7
x+=3 #same as x=x+3
x-=3
x*=3
x/=3
x%=3
print(x)

1.0

Logical Operators

In [30]:
y = 60
z = 13
print (y>z)
print (y<z)
print (y>z and z<y) #true
print (y>z and z>y) #False
print (not(y>z and z<y)) #False
print (y>z or z>y) #True

True
False
True
False
False
True

Identity Operator

In [31]:
print(y is z)
print(y is not z)

False
True

Looping Statements

In [32]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday" , "Friday" , "Saturday"]
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

In [33]:
week = ["Sunday" , "Monday", "Tuesday" , "Wednesday" , "Thursday" , "Friday" , "Saturday"]
for x in week:
  if x=="Thursday":
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday

In [37]:
for x in "Week": #(Looping through a String)
  print(x)

W
e
e
k

The range () Function

In [39]:
for x in range (6):
  print(x)
for x in range (2,6):
  print(x)

0
1
2
3
4
5
2
3
4
5

Nested Loops

In [43]:
adjective = ["red" , "big" , "tasty"]
fruits =["apple" , "banana" , "cherry"]

for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

The break statement

In [45]:
i=1
while i<6:
  print(i)
  if i==3:
    break
  i += 1

1
2
3

The continue statement

In [46]:
i = 0
while i<6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

The else statement

In [47]:
i = 1
while i < 6:
  print(i)
  i+=1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6