<a href="https://colab.research.google.com/github/RussellePituc/CPE009A-OOP/blob/main/Demo1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Identation

In [3]:
if 5>2:
  print("Five is greater than two")

Five is greater than two

Python Comments

In [5]:
if 5>2:
  print("Five is greater than two") #comparison of numbers 5 and 2

Five is greater than two

Python Variable

In [9]:
x=1 #this is a single variable with a value
a,b=0,-1

print(a)
print(b)
print(x)
b="Sally"
b="Russ"


print(b)

0
-1
1
Russ

Casting

In [10]:
b="Sally" #This is a type of string
b=int(4)
print(b)

b=float(4)
print(b)

4
4.0

In [11]:
x=5
y="John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

"Double quotes" or 'Single quotes'

In [14]:
y="John"

print(y)
y='John'

print(y)

John
John

Case Sensitive

In [ ]:
a=4
A="Sally"
#A will not overwrite a

Multiple Variable

In [15]:
x,y,z="one","two","three"
print(x)
print(y)
print(y)

one
two
two

One Value to Multiple Variables

In [16]:
x=y=z="four"
print(x)
print(y)
print(z)

four
four
four

Output Variables

In [18]:
x="enjoying"
print("Python programming is " + x)

Python programming is enjoying

Other way

In [20]:
x="Python is"
x="enjoying "
z=x+y
print(z)

enjoying four

Identity Operators

In [21]:
a,b,c=0,-1,5
a is a

True